*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Press Start 2P'; 
  font-size: 1rem;
  color: aliceblue;
  background-color: #0C1122;
  height: 100vh;
  overflow: hidden;
}



.wrapper{
  max-width: 1630px;
  padding: 0 2rem;
}



.loader.loader-hidden {
  display: none;
}


.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DBE2EF;
  p{
    color: #112D4E;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);  
    text-align: center;
    width: 100%;
    height: 100%;
  }
}


.header{
  margin-bottom: 4rem;
  background-color: aliceblue;
  .menu-path{
    font-family: 'Press Start 2P'; 
    font-size: .8rem;
    padding: .5rem;

    p{
      color: #0C1122;
    }
  }
}

.greeting{
  button{
    font-family: 'Press Start 2P'; 
    font-size: 1rem;
    color: aliceblue;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.typing {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: aquamarine;
  animation: blink .3s step-end infinite alternate;
  margin-bottom: 1.5rem;
}
.activeSen{
  animation: typing 1.5s steps(30);
}



@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.menu{
  display: none;
  flex-direction: column;
  align-items: baseline;
  h2{
    font-family: 'Jura';
    margin-bottom: 2em;
    font-size: 2rem;
  }
  .options{
    display: block;
    font-family: 'Press Start 2P'; 
    font-size: .8rem;
    background: none;
    border: none;
    color: aliceblue;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover{
      color: aquamarine;
      border-bottom: 1px solid aquamarine;
    }
  }
  .options + .options {
    margin-top: 2.8em;
  }
}

main{
  position: relative;
  display: flex;
  justify-content: space-between;
  .projects{
    position: absolute;
    right: 10vw;
  }
}

.app-menu{
  background-color: #fff;
  padding: .5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
  .close-app{

    button{
      font-size: 1.5em;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      
    }
    .close{
      margin-left: 0.5em;
      background: #E84545;
      padding: 0 10px;
      img{
        height:15px;
      }
    }
  }
}


.weather-app{
  width: 650px;
  display: none;
  .app-menu{
    background-color: #fff;
    padding: .5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-input{
      font-family: 'Jura';
      font-size: 1em;
      background: none;
      padding: 0.2em;
      border: 2px solid #3F72AF;
    }
    .form-submit{
      font-family: 'Jura';
      font-size: 1em;
      padding: 0.3em 1em;
      font-weight: 800;
      border: none;
      background: #112D4E;
      color: #fff;
      cursor: pointer;
    }
    .close-app{

      button{
        font-size: 1.5em;
        cursor: pointer;
        position: relative;
        background: none;
        border: none;
        
      }
      .close{
        margin-left: 0.5em;
        background: #E84545;
        padding: 0 10px;
        img{
          height:15px;
        }
      }
    }
  }

  .weather-root{
    position: relative;
  }
  .container{
    background: #DBE2EF;
    color: #3F72AF;
    padding: 1em;
    .top{
      .city-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .city{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        .city-subtitle{
          p{
            font-size: 1em;
            margin-bottom: 0.5em;
          }
          .city-title{
            max-width: 440px;
            display: inline-block;
            color: #fff;
            font-size: 2.8em;
            padding: 1rem;
            background-color: #112D4E;
          }
        }

        .top-right{
          text-align: end;
          .city-info__subtitle{
            font-size: 1em;
            margin-bottom: 2em;

          }
          .city-info__title{
            font-size: 4em;
            color: #fff;
          }
          .weather-warm{
            color: #FFDA44;
          }

        }
      }

      .city-info{
        display: flex;
        justify-content: center;
        margin-bottom: 3em;

        .top-descr{
          display: flex;
          flex-direction: column;
          align-items: center;
          .icon{
            width: 200px;
            margin-bottom: 1em;
          }
          .description{
            font-size: 1.5em;
            color: #112D4E;
          }
        }
      }
    }
    .properties{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 2em;
      justify-content: center;
      .property{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        .property-info{
          &__value{
            margin-bottom: .5em;
          }
          &__description{
            font-size: 0.8rem;
            color: #112D4E;
          }
        }
        img{
          width: 50px;
          margin-bottom: 1em;
          margin-right: 1.5em;
        }
      }
    }

  }

}




.game-app{
  position: relative;

  color: #fff;
  display: none;

  .block{
    display: block;
    background: #DBE2EF;
    padding: 2em;
    max-width: 630px;
    .info{
      h3{
        font-family: 'Jura';
        color: #112D4E;
        font-size: 3em;
        text-align: center;
        margin-bottom: 1em;
      }
      p+p{
        margin-top: 1em;
      }
      p{
        color: #3F72AF;
      }
      p:last-child{
        margin-bottom: 3em;
      }
    }

    .start-game{
      max-width: 400px;
      width: 100%;
      font-family: 'Press Start 2P'; 
      font-size: 1.5em;
      display: block;
      cursor: pointer;
      margin: 0 auto;
      padding: 1em 0;
      background: #fff;
      color: #112D4E;
      border: none;
      &:hover{
        background: #112D4E;
        color: #fff;
      }
    }

  }



  .game-main{
    background: #DBE2EF;
    padding: 2em 4em;
    display: none;

    .restart{
      display: block;
      max-width: 300px;
      width: 100%;
      font-family: 'Press Start 2P'; 
      font-size: 1em;
      cursor: pointer;
      margin: 0 auto 1em auto;
      padding: .5em 0;
      background: #fff;
      color: #112D4E;
      border: none;
      &:hover{
        background: #112D4E;
        color: #fff;
      }
    }
  }

}

.cellfilled{
  background-color: #112D4E;
  padding: 4px;
}
.cellempty{
  background-color: white;
  padding: 4px;
}




@mixin slider-track() {
  background: transparent;
  padding: calc(var(--slider-handle-size) / 1.6) 0;
  margin: 0 calc(var(--slider-handle-size) / 2 * -1);
  cursor: pointer;
}

@mixin slider-thumb($cursor: grab) {
  position: relative;
  appearance: none;
  box-shadow: 0 0 0 .2em #112D4E; // inset, 0 0 0 .2em #fff;
  height: calc(var(--slider-handle-size) * 2);
  width: var(--slider-handle-size);
  margin: calc(var(--slider-handle-size) * -1) 0;
  border-radius: var(--slider-radius, 1em);
  background: transparent;
  cursor: $cursor;
}

.password-app{
  display:none;
  min-width: 615px;
  .box{
    background-color: #DBE2EF;
    padding: 2em;
    input::placeholder{
      color: #fff;
      text-align: center;
    }


    .options-block{
      margin-bottom: 3em;
      color:#112D4E;
      font-size: 1.2em;

      .pass-options{
        display: flex;
        justify-content: space-between;
        input{
          visibility: hidden;
        }
        label{
          display: block;
          cursor: pointer;
          padding: 1em;
          background: #fff;
        }
        input[type="checkbox"]:checked + label {
          padding: 1em;
          background: #2C95DD;
        }
      }

    }

    
    .input-pass{
      text-align: center;
      max-width: 520px;
      width: 100%;
      font-family:'Jura';
      color: #fff;
      font-size: 2em;
      font-weight: 800;
      margin-bottom: 1em;
      padding: 1em 0.5em;
      background-color: #112D4E;
      border: none;
    }

    
    // - stacked
    .heat-slider--v {
      .heat-slider--label {
        color: #112D4E;
        margin-bottom: 0.5em;
        flex: 1;
        font-size: 1.2rem;
          .pass-output{
            position: absolute;
            color: #2C95DD;
          }
      }
    }
    
    // MECHANICAL
    .heat-slider {
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      --slider-base: #fff;
      --slider-radius: 0em;
      --slider-handle-size: 1em;
      --p: 47%;


      
      &--input {

        position: relative;
        line-height: 0;
        border-radius: var(--slider-radius);
        background-color: #2C95DD;
    
        // the magic mask
        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin-right: -1px; // hack for border-radius anti-aliasing, ugh
          border-radius: var(--slider-radius);
          background: linear-gradient(to right,
            transparent 0,
            transparent calc(var(--p) + var(--slider-handle-size) / 2),
            var(--slider-base) var(--p),
            var(--slider-base) 100%
          );
        }
    
        input {
          position: realtive;
          z-index: 1;
          width: 100%;
          appearance: none;
          font: inherit;
          background: transparent;
          border: 0;
          margin: 0;
          padding: 0;
    
          // slider track
          &::-webkit-slider-runnable-track { @include slider-track() }
          &::-moz-range-track { @include slider-track() }
    
          // slider thumb
          &::-webkit-slider-thumb { @include slider-thumb() }
          &::-moz-range-thumb { @include slider-thumb() }
          &:focus { outline: none }
          &:active {
            // slider thumb
            &::-webkit-slider-thumb { @include slider-thumb($cursor: grabbing); }
            &::-moz-range-thumb { @include slider-thumb($cursor: grabbing); }
          }
        }
      }
    }
    


    .pass-length{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.5em;
      .heat-slider--label{
        margin-bottom: 0.5em;
      }
    }

    .buttons{
      display: flex;
      justify-content: center;
      .generate,.copy{
        font-family: 'Press Start 2P'; 
        color: #112D4E;
        border: none;
        padding: 1em;
        cursor: pointer;
        width: 100%;
      }
      .generate{
        margin-right: 2em;
      }
    }
  }
}


.lyrics-app{
  max-width: 620px;
  display: none;
  .lyrics-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 2em;
    background-color:#DBE2EF;

    .lyrics-info{
      margin-bottom: 4em;

      .subtitle{
        color: #2C95DD;
      }

      .subtitle + .subtitle{
        margin-top: 1em;
      }

      .title{
        color: #212D6E;
        font-size: 1.2em;
        margin-bottom: 2em;
      }
    }

    a{
      width: max-content;
      display: flex;
      align-items:baseline;
      font-family: 'Jura';
      font-weight: 800;
      font-size: 2.5em;
      color: #2C95DD;
      &:hover{
        color: #3F72AF;
        svg path{
          fill: #3F72AF;
        }

      }
      svg{
        height: 50px;
        fill:#2C95DD;
      }
      

    }

  }
}

.book-app{
  max-width: 620px;
  display: none;
  .book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 2em;
    background-color:#DBE2EF;

    .book-info{
      margin-bottom: 4em;

      .subtitle{
        color: #2C95DD;
      }

      .subtitle + .subtitle{
        margin-top: 1em;
      }

      .title{
        color: #212D6E;
        font-size: 1.2em;
        margin-bottom: 2em;
      }
    }
    a{
      width: max-content;
      display: flex;
      align-items:baseline;
      font-family: 'Jura';
      font-weight: 800;
      font-size: 2.5em;
      color: #2C95DD;
      &:hover{
        color: #3F72AF;
        svg path{
          fill: #3F72AF;
        }
      }
      p{
        margin-right:.2em;
      }

      svg{
        height: 50px;
        fill:#2C95DD;
      }
      

    }

  }
}


.active {
  display: block;
}


.paused{
  -webkit-animation-play-state:paused !important;
  -moz-animation-play-state:paused !important;
  -o-animation-play-state:paused !important; 
  animation-play-state:paused !important;
}



@keyframes walking {
  0%{
    margin-left: 10vw;
  }
  100%{
    margin-left: 79vw;
  }

}




.footer{ 
  position: absolute;
  bottom: 10px;
  .pet{

    position: relative;
    visibility:hidden;
    animation: walking 9s infinite alternate linear;
    transform:scaleX(1);
    cursor: pointer;
    .fox-replicas{
      width: 250px;
      position: absolute;
      top: -3.5em;
      right: -5.5em;
      line-height: 1.3em;
      text-align: center;
    }
  }
}


//==============================
//==============================

@media screen and (max-width: 1100px) {
  .greeting{
    button{
      font-size: .9rem;
    }
  }
  
  .typing {
    font-size: .8em;
  }
  
}


@media screen and (max-width: 768px) {
  body{
    font-size: 14px;
  }
  main{
    .projects{
      max-width: 550px;
      
      right: 2em;
      left: 2em;
    }
  }

  .weather-app{
    width: 100%;

    .container{
      .top{
        .city{
          .city-subtitle{
            p{
              font-size: .9em;
            }
            .city-title{
              max-width: 340px;
              font-size: 2em;
            }
          }
  
          .top-right{
            .city-info__subtitle{
              font-size: .9em;
            }
            .city-info__title{
              font-size: 3em;
            }
  
          }
        }
  
        .city-info{
          margin-bottom: 3em;
  
          .top-descr{
            .icon{
              width: 100px;
              margin-bottom: 1em;
            }
            .description{
              font-size: 1.2em;
            }
          }
        }
      }
      .properties{
        grid-gap: 1em;
        .property{
          .property-info{
            &__value{
              margin-bottom: .5em;
            }
            &__description{
              font-size: 0.7rem;
            }
          }
          img{
            width: 40px;
            margin-bottom: 1em;
            margin-right: 1.5em;
          }
        }
      }
  
    }
  
  }

  .game-app{
  
    .block{
      padding: 1.5em;
      .info{
        h3{
          font-size: 2em;
          margin-bottom: 0.7em;
        }

        p:last-child{
          margin-bottom: 2em;
        }
      }
  
      .start-game{
        font-size: 1.2em;
      }
  
    }
  
  
  
    .game-main{
      padding: 2em 3em;
      display: none;

    }
  
  }
  
  .cellfilled{
    padding: 3px;
  }
  .cellempty{
    padding: 3px;
  }

  .lyrics-app{
    .lyrics-container{
      padding: 2em 2em;
  
      .lyrics-info{
        margin-bottom: 4em;
  
        .title{
          font-size: 1em;
        }
      }
  
      a{
        font-size: 2em;
        svg{
          height: 40px;
        }
        
  
      }
  
    }
  }

  .book-app{
    .book-container{
      padding: 2em 2em;
  
      .book-info{
        margin-bottom: 4em;
  
        .title{
          font-size: 1em;
        }
      }
  
      a{
        font-size: 2em;
        svg{
          height: 40px;
        }
        
  
      }
  
    }
  }
}


@media screen and (max-width: 690px) {
  .password-app{
    min-width: 310px;
    max-width: 515px;
  }
}


@media screen and (max-width: 600px) {
  .header{
    margin-bottom: 3rem;
    .menu-path{
      font-size: .6rem;
      padding: .5rem 0rem;
    }
  }
  .menu{
    h2{
      font-size: 1.5rem;
      margin-bottom: 1.5em;
    }
    .options{
      font-size: .6rem;
    }
  }

  .weather-app{

    .container{
      .top{
        .city{
          .city-subtitle{
            p{
              font-size: .7em;
            }
            .city-title{
              max-width: 340px;
              font-size: 1.5em;
            }
          }
  
          .top-right{
            .city-info__subtitle{
              font-size: .7em;
            }
            .city-info__title{
              font-size: 2.5em;
            }
  
          }
        }
  
        .city-info{
          margin-bottom: 3em;
  
          .top-descr{
            .icon{
              width: 100px;
              margin-bottom: 1em;
            }
            .description{
              font-size: 1.2em;
            }
          }
        }
      }

        .properties{
          grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
          grid-gap: 1em;
          .property{
            img{
              width: 40px;
              margin-bottom: 1em;
              margin-right: 1em;
            }
          }
      }
    }
  
  }

  .password-app{
    .box{
      padding: 1em;
  
      .options-block{
        margin-bottom: 2em;
        font-size: 1em;
  
        .pass-options{
          flex-direction: column;
          text-align: center;
        }
  
      }
  
      
      .input-pass{
        font-size: 1.4em;
        font-weight: 600;
      }
  

      .heat-slider--v {
        .heat-slider--label {
          margin-bottom: 1em;
          font-size: 0.9rem;
        }
      }
      
  
      .buttons{
        .generate,.copy{
          padding: 1em 0.3em;
        }
        .generate{
          margin-right: 1em;
        }
      }
    }
  }

  .game-app{
    .block{
      padding: 1.5em;
      .info{
        h3{
          font-size: 1.5em;
          margin-bottom: 0.7em;
        }

        p{
          font-size: .7rem;
        }

        p:last-child{
          margin-bottom: 2em;
        }
      }
  
      .start-game{
        font-size: 1em;
      }
  
    }
  
  
  
    .game-main{
      padding: 2em 2em;
      display: none;
      .field{
        max-width: 100%;
        margin: 0 auto;
      }
      .restart{
        font-size: .8em;
      }
    }
  
  }
  
  .cellfilled{
    padding: 2.5px;
  }
  .cellempty{
    padding: 2.5px;
  }
}

@media screen and (max-width: 467px) {
  .greeting{
    button{
      font-size: .8rem;
    }
  }
  
  .typing {
    font-size: .6em;
  }
  
  .header{
    .menu-path{
      font-size: .5rem;
    }
  }
  .menu{
    h2{
      font-size: 1.1rem;
      margin-bottom: 1.5em;
    }
    .options{
      text-align: left;
      font-size: .7em;
    }
  }

  .weather-app{
    .app-menu{
      .form-input{
        max-width: 100px;
      }
    }

    .container{
      .top{
        .city{
          display: flex;
          flex-direction: column;
          align-items: center;
          .city-subtitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;
            p{
              font-size: .8em;
              margin-bottom: 1em;
            }
            .city-title{
              font-size: 1.4em;
            }
          }
  
          .top-right{
            display: flex;
            flex-direction: column;
            align-items:stretch;
            .city-info__subtitle{
              font-size: .8em;
              margin-bottom: 1em;
            }
            .city-info__title{
              font-size: 3.5em;
            }
  
          }
        }
  
        .city-info{
          margin-bottom: 2em;
  
          .top-descr{
            .icon{
              width: 80px;
              margin-bottom: .8em;
            }
            .description{
              font-size: 1em;
            }
          }
        }
      }

      .properties{
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-gap: .5em;
        .property{
          .property-info{
            &__value{
              margin-bottom: .5em;
            }
            &__description{
              font-size: 0.6rem;
              color: #112D4E;
            }
          }
          img{
            width: 25px;
            margin-bottom: 1em;
            margin-right: .5em;
          }
        }
    }
  
    }
  
  }

  .game-app{
    .block{
      padding: 1em;
      .info{
        h3{
          font-size: 1.3em;
          margin-bottom: 0.5em;
        }

        p{
          font-size: .6rem;
        }

        p:last-child{
          margin-bottom: 2em;
        }
      }
    }
    .game-main{
      padding: 2em 1em;
      .restart{
        font-size: .8em;
      }
    }
  
  }

  .lyrics-app{
    .lyrics-container{
      padding: 2em 1em;
  
      .lyrics-info{
  
        .title{
          font-size: .9em;
        }

        .subtitle{
          font-size: .9em;
        }
      }
  
      a{
        font-size: 1.5em;
        svg{
          height:30px;
        }
        
  
      }
  
    }
  }

  .book-app{
    .book-container{
      padding: 2em 1em;
  
      .book-info{
  
        .title{
          font-size: .9em;
        }

        .subtitle{
          font-size: .9em;
        }
      }
  
      a{
        font-size: 1.5em;
        svg{
          height:30px;
        }
        
  
      }
  
    }
  }
  
  .cellfilled{
    padding: 2px;
  }
  .cellempty{
    padding: 2px;
  }

  @keyframes walking {
    0%{
      margin-left: 10vw;
    }
    100%{
      margin-left: 70vw;
    }
  
  }

  .footer{ 
    .pet{
      animation: walking 4s infinite alternate linear;
      .fox-replicas{
        width: 250px;
        position: absolute;
        top: -3.5em;
        right: -5.5em;
        line-height: 1.3em;
        font-size: .8rem;
        text-align: center;
      }
    }
  }
}



@media screen and (max-width: 380px) {
  .menu{
    h2{
      text-align: center;
    }
    .options{
      font-size: .6em;
    }
  }
  .weather-app{
    .app-menu{
      .form-input{
        max-width: 100px;
      }
    }
  
    .container{
      .top{
        .city{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.5em;
          .city-subtitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1em;
            p{
              font-size: .8em;
              margin-bottom: 1em;
            }
            .city-title{
              font-size: 1.4em;
            }
          }
  
          .top-right{
            display: flex;
            flex-direction: column;
            align-items:stretch;
            .city-info__subtitle{
              font-size: .8em;
              margin-bottom: 1em;
            }
            .city-info__title{
              font-size: 2em;
              text-align: center;
            }
  
          }
        }
  
        .city-info{
          margin-bottom: 1.5em;
  
          .top-descr{
            .icon{
              width: 50px;
              margin-bottom: .8em;
            }
            .description{
              font-size: 1em;
            }
          }
        }
      }
  
      .properties{
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-gap: .5em;
        .property{
          .property-info{
            &__value{
              margin-bottom: .5em;
            }
            &__description{
              font-size: 0.6rem;
              color: #112D4E;
            }
          }
          img{
            width: 25px;
            margin-bottom: 1em;
            margin-right: .5em;
          }
        }
    }
  
    }
  
  }


  .game-app{
    .game-main{
      padding: 1em .5em;
      .restart{
        font-size: .7em;
      }
    }
  
  }

  .cellfilled{
    padding: 1.5px;
  }
  .cellempty{
    padding: 1.5px;
  }
}
